# Contoso Fabric Workshop - Environment Configuration
# ---
AZURE_TENANT_ID=REPLACE_WITH_TENANT_ID
FABRIC_WORKSPACE=contoso-aiws-dev
FABRIC_CAPACITY=REPLACE_WITH_CAPACITY_NAME
DBX_HOST=REPLACE_WITH_DATABRICKS_HOST
DBX_CATALOG=contoso_dev
